<!DOCTYPE html>
<html>
<head>

    <meta charset="UTF-8">
    <title>Planizi - Dashboard</title>
    <link rel="stylesheet" type="text/css" href="/assets/lib/select2/css/select2.min.css"/>

</head>
<body>
<header>
    <%- include header.ejs %>
    <script type="text/javascript">$('#page-title-for-mobile-version').append('Dashboard')</script>
</header>

<div class="am-wrapper">
    <div class="am-content">
        <div class="main-content">
            <div class="user-profile">
                <div class="user-display">
                <div class="row">
                    <div class="photo"><img src="https://images.fineartamerica.com/images-medium-large-5/autumns-glow-c-steele.jpg"></div>
                        <div class="bottom">
                            <div class="user-avatar"><span class="status"></span><img src="https://static-cdn.jtvnw.net/jtv_user_pictures/bobross-profile_image-0b9dd167a9bb16b5-300x300.jpeg"></div>
                                <div class="user-info">
                                    <h4><%= user.user_name %> <%= user.user_nickname == '' ? '' : '"'+user.user_nickname+'"' %> <%= user.user_surname %></h4><span><%= user.user_description %></span>
                                </div>
                            <div class="col-sm-2">
                                <div class="content">
                                    <a href="/profile/editProfile"><button class="btn btn-default">Editer mon profil</button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-12">
                        <div class="info-block panel panel-default">
                            <div class="panel-heading">
                                <h4>Mes infos</h4>
                            </div>
                            <div class="panel-body"><span class="description"><%= user.user_description %></span>
                                <table class="no-border no-strip skills">
                                    <tbody class="no-border-x no-border-y">
                                    <tr>
                                        <td class="item">Anniversaire:<span class="icon s7-gift"></span></td>
                                        <td><%= user.user_birthdate %></td>
                                    </tr>
                                    <tr>
                                        <td class="item">Genre:<span class="icon s7-male"></span><span class="icon s7-female"></span></td>
                                        <td><%= user.user_gender %></td>
                                    </tr>
                                    <tr>
                                        <td class="item">Téléphone:<span class="icon s7-phone"></span></td>
                                        <td><%= user.user_phone %></td>
                                    </tr>
                                    <tr>
                                        <td class="item">E-mail:<span class="icon s7-mail"></span></td>
                                        <td><%= user.user_mail %></td>
                                    </tr>
                                    <tr>
                                        <td class="item">Numéro SS:<span class="icon s7-mail"></span></td>
                                        <td><%= user.user_social_security_card_number%></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    <div class="info-block panel panel-default">
                            <div class="panel-heading">
                                <h4>Mes fichiers</h4>
                            </div>
                            <div class="panel-body">
                                <table class="no-border no-strip skills">
                                    <tbody class="no-border-x no-border-y">
                                    <tr>
                                        <td class="item">Carte d'identité:<span class="icon s7-file"></span></td>
                                        <td>carte_identite_bob_ross.jpg</td>
                                    </tr>
                                    <tr>
                                        <td class="item">CV:<span class="icon s7-file"></span></td>
                                        <td>CV_bob_ross.jpg</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <div class="info-block panel panel-default">
                            <div class="panel-heading">
                                <h4>Mes compétences</h4>
                            </div>
                            <div class="panel-body">
                                <table class="no-border no-strip skills">
                                    <tbody class="no-border-x no-border-y">
                                    <% mySkillsArray.forEach((skill, index) => { %>
                                    <tr>
										<td width="90%"><%= skill.skill_name_fr %></td>
										<td width="10%"><span class="input-group-addon btn btn-primary" onclick="location.href='/skills/<%= user.user_mail %>/delSkill/<%= skill.skill_label %>'">
											<i class="icon-th s7-trash"></i></span></td>
                                    </tr>
                                    <% }) %>
                                    <tr>
										<td></td>
										<td span class="input-group-addon btn btn-primary" data-toggle="modal" data-target="#addSkill">
											<i class="icon-th s7-upload"></i></span></td>
									</tr>
                                    </tbody>
                                    
                                </table>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-4 col-sm-6">
                        <div class="widget widget-fullwidth widget-small">
                            <div class="widget-head">
                                <div class="tools"><span class="icon s7-upload"></span><span class="icon s7-edit"></span><span class="icon s7-close"></span></div><span class="title">Team blabla</span>
                            </div>
                            <div class="table-container">
                                <table class="table table-striped table-fw-widget table-hover">
                                    <thead>
                                    <tr>
                                        <th width="32%">Utilisateur</th>
                                        <th width="45%">Rôle</th>
                                        <th>Date d'arrivée</th>
                                    </tr>
                                    </thead>
                                    <tbody class="no-border-x">
                                    <tr>
                                        <td class="user-avatar"> <img src="assets/img/avatar4.jpg">John Ratignier</td>
                                        <td>role blabla 1</td>
                                        <td>Dec 6, 2016</td>
                                    </tr>
                                    <tr>
                                        <td class="user-avatar"> <img src="assets/img/avatar3.jpg">Ludovic Giry</td>
                                        <td>role blabla 2</td>
                                        <td>Oct 18, 2016</td>
                                    </tr>
                                    <tr>
                                        <td class="user-avatar"> <img src="assets/img/avatar7.jpg">Alexis Saget</td>
                                        <td>role blabla 3</td>
                                        <td>Jul 15, 2015</td>
                                    </tr>
                                    <tr>
                                        <td class="user-avatar"> <img src="assets/img/avatar6.jpg">Fabien Lenoble</td>
                                        <td>role blabla 4</td>
                                        <td>Oct 28, 2018</td>
                                    </tr>
                                    <tr>
                                        <td class="user-avatar"> <img src="https://static-cdn.jtvnw.net/jtv_user_pictures/bobross-profile_image-0b9dd167a9bb16b5-300x300.jpeg">Bob Ross</td>
                                        <td>role blabla 5</td>
                                        <td>Nov 14, 2018</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>

                <!--<div class="row">
                    <div class="col-md-6">
                        <div class="widget widget-calendar">
                            <div class="cal-container">
                                <div class="cal-notes"><span class="day">Jeudi</span><span class="date">15 Novembre</span><span class="title">Notes<span class="icon s7-plus"></span></span>
                                    <ul>
                                        <li><span class="hour">14h</span><span class="event-name">réunion 24</span></li>
                                        <li><span class="hour">8h</span><span class="event-name">comptage</span></li>
                                    </ul>
                                </div>
                                <div class="cal-calendar">
                                    <div class="ui-datepicker"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    div class="col-md-6">
                        <div class="widget widget-fullwidth widget-small">
                            < <div class="widget-head">
                              <div class="tools"><span class="value">58Mb</span></div><span class="title">M</span>
                            </div> 
                            <table class="table table-striped table-fw-widget table-hover">
                                <thead>
                                <tr>
                                    <th>Mes indicateurs</th>
                                    <th class="number">valeur</th>
                                    <th class="number">évolution</th>
                                </tr>
                                </thead>
                                <tbody class="no-border-x">
                                <tr>
                                    <td>Bonheur</td>
                                    <td class="number">28</td>
                                    <td class="number">+18%</td>
                                </tr>
                                <tr>
                                    <td>Confiance</td>
                                    <td class="number">24</td>
                                    <td class="number">+15%</td>
                                </tr>
                                <tr>
                                    <td>Investissement</td>
                                    <td class="number">31</td>
                                    <td class="number">+38%</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>-->
            </div>
        </div>
    </div>
<%- include skills/newSkillList.ejs %> 
</div>

<script src="/assets/lib/jquery/jquery.min.js" type="text/javascript"></script>
<script src="/assets/lib/jquery.nanoscroller/javascripts/jquery.nanoscroller.min.js" type="text/javascript"></script>
<script src="/assets/lib/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>
<script src="/assets/lib/jquery.nestable/jquery.nestable.js" type="text/javascript"></script>
<script src="/assets/lib/moment.js/min/moment.min.js" type="text/javascript"></script>
<script src="/assets/lib/select2/js/select2.min.js" type="text/javascript"></script>
<script src="/assets/js/main.js" type="text/javascript"></script>
<script src="/assets/lib/bootstrap/dist/js/bootstrap.min.js" type="text/javascript"></script>
<script src="/assets/lib/bootstrap-slider/js/bootstrap-slider.js" type="text/javascript"></script>
<script type="text/javascript">
	$(document).ready(function(){
		//initialize the javascript
		App.init();
	});
</script>

</body>
</html>

