<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/assets/img/favicon.png">
    <title>Planizi - Registration</title>
    <link rel="stylesheet" type="text/css" href="/assets/lib/stroke-7/style.css"/>
    <link rel="stylesheet" type="text/css" href="/assets/lib/jquery.nanoscroller/css/nanoscroller.css"/>
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="/assets/lib/select2/css/select2.min.css"/>
    <link rel="stylesheet" type="text/css" href="/assets/lib/bootstrap-slider/css/bootstrap-slider.css"/>
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css"/>
</head>

<body>

<header>
    <%- include ../header.ejs %>
    <!-- <script type="text/javascript">$('#page-title-for-mobile-version').append('Dashboard')</script> -->
</header>

<div class="am-wrapper am-login">
    <div class="am-content">
        <div class="main-content">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3>Mon profil</h3>
                        </div>
                        <div class="panel-body">
                            <form method="post" action="/profile/editProfile" style="border-radius: 0px;" class="form-horizontal group-border-dashed" enctype="multipart/form-data">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Prénom</label>
                                    <div class="col-sm-6">
                                        <input data-parsley-type="digits" type="text" value="<%= user.user_name %>" class="form-control" name="user_name">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Nom</label>
                                    <div class="col-sm-6">
                                        <input data-parsley-type="digits" type="text" value="<%= user.user_surname %>" class="form-control" name="user_surname">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Surnom</label>
                                    <div class="col-sm-6">
                                        <input data-parsley-type="digits" type="text" value="<%= user.user_nickname %>" class="form-control" name="user_nickname">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label font-weight-bold">Genre</label>
                                    <div class="col-sm-6">
                                        <select class="form-control" name="user_gender" >
                                            <option value=<%= user.user_gender %> selected disabled hidden><%= user.user_gender %></option>
                                            <option value="f">f</option>
                                            <option value="m">m</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label font-weight-bold">Date de naissance</label>
                                    <div class="col-sm-6">
										<div data-min-view="2" data-date-format="dd/mm/yyyy" class="input-group date datetimepicker">
                                                <span class="input-group-addon btn btn-primary"><i class="icon-th s7-date"></i></span>
                                                <input name="user_birthdate" required="" type="text" data-mask="date" value=<%= user.user_birthdate %>
                                                 placeholder="dd/mm/yyyy" class="form-control" min="1918-01-01" max="2018-01-01">
                                            </div>
										
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Description</label>
                                    <div class="col-sm-6">
                                        <textarea class="form-control" name="user_description"><%= user.user_description %></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Expérience</label>
                                    <div class="col-sm-6">
                                        <textarea class="form-control" name="user_experience"><%= user.user_experience %></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Impossibilité</label>
                                    <div class="col-sm-6">
                                        <textarea class="form-control" name="user_incapacity"><%= user.user_incapacity %></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Téléphone</label>
                                    <div class="col-sm-6">
										 <input data-parsley-type="digits" type="text" value="<%= user.user_phone %>" class="form-control" name="user_phone">
                                    </div>
                                        
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label font-weight-bold">Taille T-Shirt</label>
                                    <div class="col-sm-6">
                                        <select class="form-control" name="user_teeshirt_size" >
                                            <option value=<%= user.user_teeshirt_size %> selected disabled hidden><%= user.user_teeshirt_size %></option>
                                            <option value="S">S</option>
                                            <option value="M">M</option>
                                            <option value="L">L</option>
                                            <option value="XL">XL</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Numéro de sécurité sociale</label>
                                    <div class="col-sm-6">
										 <input data-parsley-type="digits" type="text" value="<%= user.user_social_security_card_number %>" class="form-control" name="user_social_security_card_number">
                                    </div>
                                        
                                </div>
                                    <div class="form-group">
                                        <div class="col-sm-12 text-center">
                                            <a href="/dashboard" style="color: white; text-decoration: white" class="btn btn-danger btn-space">Annuler</a>
                                            <button class="btn btn-alt3 btn-space" type="submit">Enregistrer<i class="icon s7-check"></i></button>
                                        </div>
                                    </div>
                                </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/assets/lib/jquery/jquery.min.js" type="text/javascript"></script>
<script src="/assets/lib/jquery.nanoscroller/javascripts/jquery.nanoscroller.min.js" type="text/javascript"></script>
<script src="/assets/lib/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>
<script src="/assets/lib/jquery.nestable/jquery.nestable.js" type="text/javascript"></script>
<script src="/assets/lib/moment.js/min/moment.min.js" type="text/javascript"></script>
<script src="/assets/js/main.js" type="text/javascript"></script>
<script src="/assets/lib/bootstrap/dist/js/bootstrap.min.js" type="text/javascript"></script>
<script src="/assets/lib/fuelux/js/wizard.js" type="text/javascript"></script>
<script src="/assets/lib/bootstrap-slider/js/bootstrap-slider.js" type="text/javascript"></script>
<script src="/assets/lib/datetimepicker/js/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
<script src="/assets/js/app-form-wizard.js" type="text/javascript"></script>
<script src="/assets/js/app-form-elements.js" type="text/javascript"></script>
<script src="/assets/lib/select2/js/select2.min.js" type="text/javascript"></script>
<script type="text/javascript">
	$(document).ready(function(){
		//initialize the javascript
		App.init();
		App.formElements();
	});
</script>

</body>
</html>
